{% load static %}
{% load mptt_tags blog_tags %}
<header class="mt-3 navbar-light bg-light">
  <div class="px-3 py-2 text-bg-white mb-2" style="border-radius: 10px;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start flex-row">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img width="48" src="/media/icon/junior_m.png"/>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}" class="py-4 px-2" style="color:#000000;">Главная</a>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color:#000000;">
                <img width="24" src="/media/icon/category.png"/> Категории
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% full_tree_for_model blog.Category as categories %}
                <div class="card-text">
                  <ul>
                    {% recursetree categories %}
                    <li>
                      <a href="{{ node.get_absolute_url }}" style="color:#000000;">{{ node.title }}</a>
                    </li>
                    {% if not node.is_leaf_node %}
                    <ul>
                    {% endif %} {{children}} {% if not node.is_leaf_node %}
                    </ul>
                    {% endif %} {% endrecursetree %}
                  </ul>
                </div>
              </ul>
            </li>
            <form class="col-12 col-lg-auto my-2 my-lg-0 mr-sm-2" role="search" method="get" action="{% url 'search' %}">
              <input type="search" class="form-control my-3" placeholder="Поиск..." aria-label="Search" name='do' autocomplete="off" id="search">
            </form>
            <a href="{% url 'articles_create' %}" class="py-4 px-2" style="color:#000000;"><img width="32" src="/media/icon/create.png"/></a>
            <a href="#" class="py-4 px-2" style="color:#000000;">Contacts</a>
            <a class="py-4 px-2" href="{% url 'profile_detail' request.user.profile.slug %}" style="color:#000000;"><img width="24" src="/media/icon/profile.png"/></a>
            <a class="py-4 px-2" href="{% url 'logout' %}" style="color:#000000;">Выйти</a>
            {% else %}
            <a class="py-4 px-2" href="{% url 'login' %}" style="color:#000000;">Войти</a>
            <a class="py-4 px-2" href="{% url 'register' %}" style="color:#000000;">Регистрация</a>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>

</header>